<style>
    .navbar {
        margin-bottom: 5px;
    }

    .navbar-default {
        border-color: #428bca;
        border: 2px solid #428bca;
    }

    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #428bca;
    }
</style>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" style="width: 90px">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Images/herby/herbOlimpiaWolaZalezna.jpg" />
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li style="text-align: center; font-weight: 700;">LKS Olimpia Wola Zależna</li>
                        <li class="divider"></li>
                        <li><a href="#">Aktualności</a></li>
                        <li><a href="#">Kadra</a></li>
                        <li><a href="#">Terminarz</a></li>
                        <li><a href="#">Statystyki</a></li>
                    </ul>
                </li>
                <li class="dropdown" style="width: 90px">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Images/herby/herbCzarnocin.jpg" />
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li style="text-align: center; font-weight: 700;">LKS Czarnocin</li>
                        <li class="divider"></li>
                        <li><a href="#">Aktualności</a></li>
                        <li><a href="#">Kadra</a></li>
                        <li><a href="#">Terminarz</a></li>
                        <li><a href="#">Statystyki</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <text>
                    @Html.ActionLink("Cześć, " + User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-text", title = "Manage" })
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }

                    </text>
                }
                else
                {             
                    <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-link", @style = "color: green" })</li>
                    <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-link", @style = "color: blue" })</li>   
                }
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
