<style>
    .table table-hover, th, thead, tr {
        font-size: 10px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 1px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        text-align: center;
    }

    th {
        font-size: 11px;
        text-align: center;
        font-weight: 700;
    }

    .Lp {
        font-weight: 700;
        text-align: center;
    }
</style>

<table class="table table-hover">
        <tr>
            <td><img src="~/Images/herby/herbCzarnocin.jpg" /></td>
            <td><img src="~/Images/herby/herbOlimpiaWolaZalezna.jpg" /></td>
            <td><img src="~/Images/herby/herbCzarnocin.jpg" /></td>
            <td><img src="~/Images/herby/herbOlimpiaWolaZalezna.jpg" /></td>
            <td><img src="~/Images/herby/herbCzarnocin.jpg" /></td>
            <td><img src="~/Images/herby/herbCzarnocin.jpg" /></td>
            <td><img src="~/Images/herby/herbCzarnocin.jpg" /></td>
            <td><img src="~/Images/herby/herbCzarnocin.jpg" /></td>
            <td><img src="~/Images/herby/herbCzarnocin.jpg" /></td>
            <td><img src="~/Images/herby/herbCzarnocin.jpg" /></td>
            <td><img src="~/Images/herby/herbCzarnocin.jpg" /></td>
        </tr>
</table>
