<style>
    .panel-heading {
        padding: 2px;
        text-align: center;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer" style="text-align:right;"> Autor: xxx</div>
</div>
