<style>
    .panel-heading {
        padding: 2px;
        text-align: center;
    }
    .panel-body {
        padding: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer" style="text-align:right;"> Autor: xxx</div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer" style="text-align:right;"> Autor: xxx</div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer" style="text-align:right;"> Autor: xxx</div>
</div>
