<style>
    .table table-hover, th, thead, tr {
        font-size: 10px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 1px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        text-align: center;
    }

    th {
        font-size: 13px;
        text-align: center;
        font-weight: 700;
    }

    .Lp {
        font-weight: 700;
        text-align: center;
    }

    tr {
        font-size: 12px;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Tabela Ligowa</div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="Lp" style="width: 20px">Lp.</th>
                    <th style="width: 150px">Nazwa Drużyny</th>
                    <th style="width: 20px">M.</th>
                    <th style="width: 20px">Pkt.</th>
                    <th style="width: 20px">W.</th>
                    <th style="width: 20px">R.</th>
                    <th style="width: 20px">P.</th>
                    <th style="width: 20px">Br.</th>
                    <th style="width: 20px">Bil.</th>
                </tr>
            </thead>
            <tr class="success">
                <td class="Lp" style="width: 20px">1</td>
                <td style="width: 150px">Olimpia Wola Zalężna</td>
                <td style="width: 20px">10</td>
                <td style="width: 20px">30</td>
                <td style="width: 20px">10</td>
                <td style="width: 20px">0</td>
                <td style="width: 20px">0</td>
                <td style="width: 20px">54-11</td>
                <td style="width: 20px">+43</td>
            </tr>
            <tr class="success">
                <td class="Lp" style="width: 20px">2</td>
                <td style="width: 150px">LKS Radzice</td>
                <td style="width: 20px">10</td>
                <td style="width: 20px">28</td>
                <td style="width: 20px">9</td>
                <td style="width: 20px">1</td>
                <td style="width: 20px">0</td>
                <td style="width: 20px">44-6</td>
                <td style="width: 20px">+38</td>
            </tr>
            <tr class="info">
                <td class="Lp" style="width: 20px">3</td>
                <td style="width: 150px">LKS Czarnocin</td>
                <td style="width: 20px">10</td>
                <td style="width: 20px">28</td>
                <td style="width: 20px">9</td>
                <td style="width: 20px">1</td>
                <td style="width: 20px">0</td>
                <td style="width: 20px">44-6</td>
                <td style="width: 20px">+38</td>
            </tr>
            @for (int i = 4; i <= 10; i++)
            {
                <tr>
                    <td class="Lp" style="width: 20px">@i</td>
                    <td style="width: 150px">Nazwa Drużyny</td>
                    <td style="width: 20px">M.</td>
                    <td style="width: 20px">Pkt.</td>
                    <td style="width: 20px">W.</td>
                    <td style="width: 20px">R.</td>
                    <td style="width: 20px">P.</td>
                    <td style="width: 20px">Br.</td>
                    <td style="width: 20px">Bil.</td>
                </tr>
            }
            <tr class="danger">
                <td class="Lp" style="width: 20px">11</td>
                <td style="width: 150px">LKS Czarnocin</td>
                <td style="width: 20px">10</td>
                <td style="width: 20px">28</td>
                <td style="width: 20px">9</td>
                <td style="width: 20px">1</td>
                <td style="width: 20px">0</td>
                <td style="width: 20px">44-6</td>
                <td style="width: 20px">+38</td>
            </tr>
            <tr class="danger">
                <td class="Lp" style="width: 20px">12</td>
                <td style="width: 150px">LKS Czarnocin</td>
                <td style="width: 20px">10</td>
                <td style="width: 20px">28</td>
                <td style="width: 20px">9</td>
                <td style="width: 20px">1</td>
                <td style="width: 20px">0</td>
                <td style="width: 20px">44-6</td>
                <td style="width: 20px">+38</td>
            </tr>
        </table>
</div>
