@using GridMvc.Html

<div style="background-color: rgba(255, 255, 255, 0.8); height: 100%; overflow: auto;">
    <div class="panel panel-primary">
        <div class="panel-heading panell">Kadra</div>
        <div class="panel-body">
            <div id="demo_grid1"></div>
        </div>
    </div>
</div>
