@model WebApplicationManagementFootballLeague.Models.ModelsView.TeamModelView

<div style="background-color: rgba(255, 255, 255, 0.8); height:100%; overflow:auto;">
    <div class="panel panel-primary">
        <div class="panel-heading panell">Terminarz</div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>
