@model WebApplicationManagementFootballLeague.Models.ModelsView.TeamModelView
<div class="panel panel-primary" style="display:block;">
    <div class="panel-heading">TeamMatches</div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <td>1.</td>
                <td> Olimpia </td>
                <td> 20 </td>
                <td> - </td>
                <td> 10 </td>
                <td> Radzice </td>
            </tr>
        </table>
    </div>
</div>