<div style="background-color: rgba(255, 255, 255, 0.8)">
    @for (int i = 1; i <= 4; i++)
    { 
        <div class="panel panel-primary">
            <div class="panel-heading panell">Panel heading without title</div>
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-4" style="text-align: left; font-size: 11px;">Data: 2014.11.10</div>
                    <div class="col-md-4" style="text-align: center; font-size: 11px;">Komentarze(2)</div>
                    <div class="col-md-4" style="text-align: right; font-size: 11px;">Autor: xxx</div>
                </div>
            </div>
        </div>
    }
</div>
