.wraper {
    font-size: 24px;
    margin: 0px 15px 0px 15px;
}

.bodyy {
    margin: 0px;
    background-image: url('@Url.Content("~/Images/tlo.jpg")');
    min-height: 500px;
}

.header-menu {
    height: 50px;
}

.top {
    background-color: gold;
    height: 160px;
}

.top-left {
    float: left;
    background-color: black;
    width: 70%;
    height: 100%;
}

.top-right {
    float: right;
    background-color: #b6ff00;
    height: 100%;
    width: 30%;
}

.content {
    height: auto;
    width: 100%;
    overflow: auto;
    min-height: 704px;
}

.content-left {
    float: left;
    width: 70%;
    min-height: 702px;
}

.content-right {
    float: right;
    background-color: #EEE;
    width: 30%;
    min-height: 702px;
    min-width: 250px;
    opacity: 0.8;
}

.footer {
    clear: both;
    text-align: center;
    opacity: 0.8;
}

.textbox-in-login {
    width: 102%;
}

.content-login {
    width: 100%;
    height: 704px;
    background: none no-repeat 50% 0;
    background-size: cover;
    font-size: 24px;
    opacity: 0.99;
}

.box-sigin {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #f1f1f1;
    margin: 100px auto;
    height: auto;
    width: 500px;
    padding: 20px 29px 15px 29px;
}

.box-registry {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #f1f1f1;
    margin: 100px auto;
    height: auto;
    width: 500px;
    padding: 1px 15px 15px 25px;
}


.roww {
    width: 105.5%;
}

.main {
    padding-top: 150px;
}
