<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li id="" role="presentation" onclick="f()" class="active">@Ajax.ActionLink(" Aktualności", "ShowTeamNews", "Team",
        new { ID = "1" },
        new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mid-in-left-content" },
        new { @class = "btn-default" })</li>
    </ul>
</div>

<script type="text/javascript">
</script>