<nav class="navbar navbar-inverse" style="height:20px; border:0px;">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-brand navbar-right" style="font-size: 18px;">Copyright © 2013 - 2014 Wszelkie prawa zastrzeżone</p>
        </div>
    </div>
</nav>