<style>
    .table table-hover, th, thead, tr {
        font-size: 10px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 2px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        text-align: center;
    }

    th {
        font-size: 13px;
        text-align: center;
        font-weight: 700;
    }

    .Lp {
        font-weight: 700;
        text-align: center;
    }

    tr {
        font-size: 12px;
    }
    
    .panel-heading {
        padding: 2px;
        text-align: center;
    }
    .panel{
    margin-bottom: 5px;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Tabela Ligowa</div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="Lp" style="width: 10%">Lp.</th>
                    <th style="width: 30%">Nazwa Drużyny</th>
                    <th style="width: 10%">M.</th>
                    <th style="width: 10%">Pkt.</th>
                    <th style="width: 10%">W.</th>
                    <th style="width: 10%">R.</th>
                    <th style="width: 10%">P.</th>
                    <th style="width: 10%">Br.</th>
                    <th style="width: 10%">Bil.</th>
                </tr>
            </thead>
            <tr class="success">
                <td class="Lp" style="width: 10%">1</td>
                <td class="Lp" style="width: 30%">Olimpia Wola Zalężna</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">30</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">0</td>
                <td style="width: 10%">0</td>
                <td style="width: 10%">54-11</td>
                <td style="width: 10%">+43</td>
            </tr>
            <tr class="success">
                <td class="Lp" style="width: 10%">2</td>
                <td class="Lp" style="width: 30%">LKS Radzice</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">28</td>
                <td style="width: 10%">9</td>
                <td style="width: 10%">1</td>
                <td style="width: 10%">0</td>
                <td style="width: 10%">44-6</td>
                <td style="width: 10%">+38</td>
            </tr>
            <tr class="info">
                <td class="Lp" style="width: 10%">3</td>
                <td class="Lp" style="width: 30%">LKS Czarnocin</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">28</td>
                <td style="width: 10%">9</td>
                <td style="width: 10%">1</td>
                <td style="width: 10%">0</td>
                <td style="width: 10%">44-6</td>
                <td style="width: 10%">+38</td>
            </tr>
            @for (int i = 4; i <= 10; i++)
            {
                <tr>
                    <td class="Lp" style="width: 10%">@i</td>
                    <td style="width: 30%">Nazwa Drużyny</td>
                    <td style="width: 10%">M.</td>
                    <td style="width: 10%">Pkt.</td>
                    <td style="width: 10%">W.</td>
                    <td style="width: 10%">R.</td>
                    <td style="width: 10%">P.</td>
                    <td style="width: 10%">Br.</td>
                    <td style="width: 10%">Bil.</td>
                </tr>
            }
            <tr class="danger">
                <td class="Lp" style="width: 10%">11</td>
                <td class="Lp" style="width: 30%">LKS Czarnocin</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">28</td>
                <td style="width: 10%">9</td>
                <td style="width: 10%">1</td>
                <td style="width: 10%">0</td>
                <td style="width: 10%">44-6</td>
                <td style="width: 10%">+38</td>
            </tr>
            <tr class="danger">
                <td class="Lp" style="width: 10%">12</td>
                <td class="Lp" style="width: 30%">LKS Czarnocin</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">28</td>
                <td style="width: 10%">9</td>
                <td style="width: 10%">1</td>
                <td style="width: 10%">0</td>
                <td style="width: 10%">44-6</td>
                <td style="width: 10%">+38</td>
            </tr>
        </table>
</div>
