<nav class="navbar navbar-default" style="height:20px; margin-bottom: 0px" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-footer">
            <p class="navbar-brand navbar-right" style="font-size: 18px;">Copyright © 2013 - 2014 Wszelkie prawa zastrzeżone</p>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>