<style>
    .table table-hover, th, thead, tr {
        font-size: 10px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 1px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        text-align: center;
    }

    th {
        font-size: 13px;
        text-align: center;
        font-weight: 700;
    }

    .Lp {
        font-weight: 700;
        text-align: center;
    }

    tr {
        font-size: 12px;
    }

    .panel-heading {
        padding: 2px;
        text-align: center;
    }

    .panel {
        margin-bottom: 5px;
        opacity: 0.98;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Olimpia Wola Zalężna</div>
    <table class="table table-bordered">
        <tr>
            <td rowspan="8"><img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/73352_527226203986014_462161719_n.png?oh=f5210bbb650574fcf672ce6cfff8cf99&oe=54DA5CE7&__gda__=1425412629_08b7cf6521aa23dbf0d416f93209b23c" /></td>
            <td>Rok Założenia: </td>
            <td>2007 </td>
        </tr>
        <tr>
            <td>Barwy: </td>
            <td>Czarno-Czerwone </td>
        </tr>
        <tr>
            <td>Adres: </td>
            <td>Wola </td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td></td>
        </tr>
        <tr>
            <td>Prezes:</td>
            <td>Jarosław Wijata</td>
        </tr>
        <tr>
            <td>Menedżer:</td>
            <td>Paweł Wijata</td>
        </tr>
        <tr>
            <td>Strona:</td>
            <td><a href="http://www.olimpiawolazalezna.futbolowo.pl">olimpiawolazalezna.futbolowo.pl</a></td>
        </tr>
        <tr>
            <td>Trener:</td>
            <td>Jarosław Krzysztofik</td>
        </tr>
    </table>
</div>
