.wraper {
    margin: 0px 10% 0px 10%;
    background-color: rgba(0,0,0, 0.4);
}

.wtabeli1 {
    background-image: url('@Url.Content("~/Images/tlo.jpg")');
}

.bodyy {
    background-image: url('@Url.Content("~/Images/tlo.jpg")');
    min-height: 500px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    font-weight: normal;
    color: #404040;
    text-align: left;
}

.header-menu {
    height: auto;
}

.top {
    background-color: none;
    height: auto;
    margin-bottom: 5px;
}

.top-right {
    float: right;
    background-color: none;
    height: 100%;
    /*width: 30%;*/
    opacity: 0.97;
}

.content {
    /*margin: 85px auto;*/
    height: auto;
    width: 100%;
    overflow: auto;
    min-height: 704px;
}

.content-left {
    float: left;
    width: 48%;
    min-height: 702px;
}

.content-mid {
    margin-left: 6px;
    float: left;
    width: 21%;
    min-height: 702px;
    background-color: white;
    opacity: 0.6;
}

.content-right {
    float: right;
    background-color: none;
    width: 30%;
    min-height: 702px;
    min-width: 250px;
    opacity: 0.98;
}

.footer {
    clear: both;
    text-align: center;
    opacity: 0.8;
}

.textbox-in-login {
    width: 102%;
}

.content-login {
    width: 100%;
    height: 704px;
    background: none no-repeat 50% 0;
    background-size: cover;
    font-size: 24px;
    opacity: 0.99;
}

.box-sigin {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #f1f1f1;
    margin: 100px auto;
    height: auto;
    width: 500px;
    padding: 20px 29px 15px 29px;
}

.box-registry {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #f1f1f1;
    margin: 100px auto;
    height: auto;
    width: 500px;
    padding: 1px 15px 15px 25px;
}


.roww {
    width: 105.5%;
}

.main {
    padding-top: 150px;
}

.table table-hover, th, thead, tr {
    font-size: 10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 1px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: center;
}

th {
    font-size: 13px;
    text-align: center;
    font-weight: 700;
}

.Lp {
    font-weight: 700;
    text-align: center;
}

tr {
    font-size: 12px;
}

.panel-heading {
    padding: 2px;
    text-align: center;
}

.panel {
    margin-bottom: 5px;
}

.panel-body {
}
