/*HEADER*/
.header-menu {
    z-index: 1;
    height: auto;
    position: fixed;
    width: 100%;
    opacity: 0.98;
    min-width: 1280px;
}

/*NAVBAR W HEADER*/
.navbar {
    margin-bottom: 5px;
}

.navbar-top-right {
    margin-top: 0px;
    width: 75px;
}

.navbar-default {
    border-color: #428bca;
    border: 0px solid #428bca;
}

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #428bca;
    }

.navbar-collapse {
    padding: 0px;
}

.navbar-text {
    margin-top: 0px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.open > .dropdown-menu {
    display: block;
    margin-left: -35px;
    margin-right: -35px;
}

/*MENU*/
.menu {
    width: 14%;
    height: 200px;
    background: white;
    opacity: 0.9;
    position: absolute;
    margin-top: 85px;
    min-width: 190px;
}

/*WRAPER*/

.wraper {
    margin: 0px 15% 0px 15%;
    background-color: rgba(0,0,0, 0.4);
    height: 100%;
    min-width: 930px;
}

/*CONTENT IN WRAPPER*/

.content {
    column-width: auto;
    z-index: 2;
    padding-top: 85px;
    width: 100%;
    height: 100%;
    min-height: 704px;
    min-width: 930px;
    overflow: auto;
}

.content-left {
    column-width: auto;
    z-index: 3;
    min-width: 445px;
    float: left;
    width: 48%;
    display: block;
}

.content-mid {
    column-width: auto;
    margin-left: 6px;
    margin-bottom: 5px;
    float: left;
    width: 21%;
    min-height: 772px;
    height: 100%;
    background-color: white;
    opacity: 0.6;
}

.content-right {
    float: right;
    background-color: none;
    width: 30%;
    min-height: 702px;
    min-width: 250px;
    opacity: 0.98;
}

.top-in-left-content {
    background-color: none;
    height: auto;
    margin-bottom: -25px;
    width: 100%;
}

.top-in-mid-content {
    background-color: none;
    height: auto;
    margin-bottom: 5px;
}

.top-in-left-content {
    float: right;
    background-color: none;
    height: 100%;
}

/*FOOTER*/

.footer {
    clear: both;
    text-align: center;
    opacity: 0.8;
    min-width: 1280px;
}

/*LOGIN*/
.content-login {
    width: 100%;
    height: 704px;
    background: none no-repeat 50% 0;
    background-size: cover;
    font-size: 24px;
    opacity: 0.99;
}

.textbox-in-login {
    width: 102%;
}

/*REGISTRY*/

.box-sigin {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #f1f1f1;
    margin: 100px auto;
    height: auto;
    width: 500px;
    padding: 20px 29px 15px 29px;
}

.box-registry {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #f1f1f1;
    margin: 100px auto;
    height: auto;
    width: 500px;
    padding: 1px 15px 15px 25px;
}

/*TABLE*/

.table table-hover, th, thead, tr {
    font-size: 10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 1px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr {
    font-size: 12px;
}

th {
    font-size: 13px;
    text-align: center;
    font-weight: 700;
}

.Lp {
    font-weight: 700;
    text-align: center;
}

.mid-in-left-content {
    margin-top: 255px;
}

/*PANEL*/

.panel {
    margin-bottom: 5px;
    border: 0px solid;
    width: 100%;
}

.panel-heading {
    padding: 2px;
    text-align: center;
    border: 0px solid;
}

.panel-primary > .panel-heading {
    background-image: url(/Images/naglowek-niebieski.jpg);
}

/*OTHERS*/
.roww {
    width: 105.5%;
}

.main {
    padding-top: 150px;
}

.static {
    position:static;
    display:block;
}